<h1>Find a summoner</h1>

<section>
	<%= form_tag('', :id => 'find_summoner', remote: true) do %>
		<%= text_field_tag 'search_summ_name' %>
		<%= submit_tag 'Search' %>
	<% end %>
</section>

<section class="summ_resume">
	<h2>Summoner Resume</h2>
	<label>Summoner id :</label> <span id="sum_id"></span><br />
	<label>Summoner name :</label> <span id="sum_name"></span><br />
	<label>Summoner level :</label> <span id="sum_lvl"></span><br />
</section>

<section class="games">
	<h2>Summoner last games</h2>
	<ul class="list"></ul>
</section>

<section class="stats">
	<div id="chart_kda" class="chart" style="width:100%; height:400px;"></div>
	<div id="champ_type" class="chart" style="width:100%; height:400px;"></div>
</section>